{% extends 'base.html.twig' %}

{% block title %}Parent Task Calculator{% endblock %}

{% block body %}
    <h2>Tasks By Routine</h2>

    {% for task in tasks %}
        <h4>{{ task }}</h4>
    {% endfor %}
{% endblock %}