{% extends 'base.html.twig' %}

{% block title %}Parent Task Calculator{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Tasks By Routine</h2>
                <button type="button" class="btn btn-primary">Fill Your Day!</button>
                <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">{{ task }}</li>
                {% endfor %}
                </ul>

            </div>
            <div class="col-sm">
                <h2>Your Day</h2>
                <table class="table">
                    <tr><td>Morning</td></tr>
                    <tr><td>Noon</td></tr>
                    <tr><td>Afternoon</td></tr>
                    <tr><td>Evening</td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}